body {
  background-color: rgb(255, 198, 222);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

h1 {
  color: rgb(255, 0, 0);
  font-size: larger;
}

.first {
  color: rgb(0, 0, 255);
}

.second {
  color: rgb(255, 0, 0);
}

#mistress-name {
  background-color: rgb(144, 1, 144);
  border: 5px solid rgb(0, 255, 68);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
